# Mot de passe du compte superuser Elasticsearch "elastic"
ELASTIC_PASSWORD=change_me_1

# Mot de passe du compte technique "kibana_system"
# (généré via : docker exec -it elasticsearch bin/elasticsearch-reset-password -u kibana_system -i)
KIBANA_SYSTEM_PASSWORD=change_me_2

# Clés de chiffrement Kibana 
# Génération : docker exec -it kibana bin/kibana-encryption-keys generate
KIBANA_ENCRYPTEDSAVEDOBJECTS_KEY=change_me_32_chars_min
KIBANA_REPORTING_KEY=change_me_32_chars_min
KIBANA_SECURITY_KEY=change_me_32_chars_min
